
<h1><%= title %></h1>
<div>
	<ul>
		<% for(var i=0; i<games.length; i++) { %>
			<% var curr_game = games[i]; %>
			<%= curr_game.matches %>
			<h2>Game Between <%= games[i].bluePlayerDetails.fname %> <%= games[i].bluePlayerDetails.lname %> and <%= games[i].redPlayerDetails.fname %> <%= games[i].redPlayerDetails.lname %></h2>


			<% for(var j=0; j<curr_game.matches.length; j++) { %>
				<% curr_match = curr_game.matches[j]; %>
				<h3>Game <%= j %>:</h3>
				Red Score: <%= curr_match.redScore %>
				Blue Score: <%= curr_match.blueScore %>

			<% } %>
		<% } %>
	</ul>

	<hr>

	<h2>Add Player</h2>

	<form name="input" action="/games" method="post">
		Player 1: 	<select name="redPlayer" id="redPlayer">
						<% for(var i=0; i<players.length; i++) {%>
							<option value="<%= players[i]._id %>"><%= players[i].fname + " " + players[i].lname %></option>
						<% } %>
					</select>
		Player 2: <select name="bluePlayer" id="bluePlayer">
						<% for(var i=0; i<players.length; i++) {%>
						<option value="<%= players[i]._id %>"><%= players[i].fname + " " + players[i].lname %></option>
						<% } %>
					</select>

		<h3>Match 1 Scores</h3>
		Player 1: <input type="text" name="match1RedPlayer"><br>
		Player 2: <input type="text" name="match1BluePlayer"><br>

		<h3>Match 2 Scores</h3>
		Player 1: <input type="text" name="match2RedPlayer"><br>
		Player 2: <input type="text" name="match2BluePlayer"><br>

		<h3>Match 3 Scores</h3>
		Player 1: <input type="text" name="match3RedPlayer"><br>
		Player 2: <input type="text" name="match3BluePlayer"><br>


		<input type="submit" value="Submit">
	</form>

</div>